/* Ionic Variables and Theming. */
/* Hevy-inspired dark theme */

/** Ionic CSS Variables **/
:root {
  /** primary - Hevy Blue **/
  --ion-color-primary: #007AFF;
  --ion-color-primary-rgb: 0, 122, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #006be0;
  --ion-color-primary-tint: #1a87ff;

  /** secondary **/
  --ion-color-secondary: #5856D6;
  --ion-color-secondary-rgb: 88, 86, 214;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #4d4cbc;
  --ion-color-secondary-tint: #6967da;

  /** tertiary **/
  --ion-color-tertiary: #AF52DE;
  --ion-color-tertiary-rgb: 175, 82, 222;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #9a48c3;
  --ion-color-tertiary-tint: #b763e1;

  /** success **/
  --ion-color-success: #34C759;
  --ion-color-success-rgb: 52, 199, 89;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #2eaf4e;
  --ion-color-success-tint: #48cd6d;

  /** warning **/
  --ion-color-warning: #FF9500;
  --ion-color-warning-rgb: 255, 149, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e08300;
  --ion-color-warning-tint: #ffa01a;

  /** danger **/
  --ion-color-danger: #FF3B30;
  --ion-color-danger-rgb: 255, 59, 48;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e0342a;
  --ion-color-danger-tint: #ff4f45;

  /** dark - Hevy Dark Background **/
  --ion-color-dark: #000000;
  --ion-color-dark-rgb: 0, 0, 0;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #000000;
  --ion-color-dark-tint: #1a1a1a;

  /** medium **/
  --ion-color-medium: #8E8E93;
  --ion-color-medium-rgb: 142, 142, 147;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #7d7d82;
  --ion-color-medium-tint: #99999e;

  /** light **/
  --ion-color-light: #1C1C1E;
  --ion-color-light-rgb: 28, 28, 30;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #19191a;
  --ion-color-light-tint: #333336;

  /** Background Colors - Hevy Style **/
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0, 0, 0;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;
  --ion-border-color: #2C2C2E;
  --ion-card-background: #1C1C1E;
  --ion-toolbar-background: #000000;
  --ion-toolbar-color: #ffffff;
  --ion-item-background: #1C1C1E;
  --ion-item-color: #ffffff;
}

